<div class="grid">
    <div class="col-12 md:col-6 lg:col-3">A</div>
    <div class="col-12 md:col-6 lg:col-3">B</div>
    <div class="col-12 md:col-6 lg:col-3">C</div>
    <div class="col-12 md:col-6 lg:col-3">D</div>
</div>
<p-accordion>
    <p-accordionTab header="Header 1"> 
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et laudantium, dolorem inventore 
    debitis sint voluptates! Tempore asperiores officia assumenda fuga?    
    </p-accordionTab>
    <p-accordionTab header="Header 2"> 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et laudantium, dolorem inventore 
    debitis sint voluptates! Tempore asperiores officia assumenda fuga? </p-accordionTab>
    <p-accordionTab header="Header 3"> 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et laudantium, dolorem inventore 
    debitis sint voluptates! Tempore asperiores officia assumenda fuga? </p-accordionTab>
</p-accordion>
